.screens {
	border-radius: 15px;
	border: 1px solid #888;
	background-color: #CCC;
	padding: 5px;

}

.screens a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  border: 5px solid #CCC;
  display: inline-block;
}

.screens a:hover {
	border: 5px solid #EFEFEF;
}

.screens img {
  position: relative;
  margin: auto;
  max-width: auto;
  padding: 0;
  margin: 5px;
  display: inline;
  

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}